<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yummy List</title>
<body>
    <a class="skip-link" href='#maincontent'>Skip to content</a>
    <header id="topnav">
        <nav class="nav-container container">
            <a href="/" class="home-link">
                <div class="logo">
                    <img alt="logo" src="images/logo/Yummy.png">
                </div>
            </a>
            <button type="button" class="menu-toggle" aria-label="Open navigation menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-menu">
                <ul class="nav-links">
                    <li class="nav-link"><a href="/">Home</a></li>
                    <li class="nav-link"><a href="#">Favorite</a></li>
                    <li class="nav-link"><a href="https://instagram.com/syntiadwiwhs">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="maincontent">
        <div tabindex="0" class="hero" alt="restaurant chef">
            <div class="hero-overlay">
                <div class="hero__inner">
                    <h1 tabindex="0" class="hero__title">Yummy List</h1>
                    <p tabindex="0" class="hero__tagline">Menampilkan daftar restoran di Indonesia</p>
                </div>
            </div>
        </div>

    <h1 tabindex="0" align="center">Explore Restaurant</h1>
    <div class="wrapper">
        <div class="posts" id="restaurant_list"></div>
    </div>   
</main>

<footer>
    <p tabindex="0" align="center"> &copy; 2021 Yummy List</p>
</footer>
</body>
</html>
